.elements{
    width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    margin-top: 25px;
}

.elements__card{
    width: 282px;
    /* height: 361px; */
    background-color: #FFFFFF;
    color: black;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.elements__image{
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0 ;
}

.elements__info{
    max-width: 248px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 21px 24px 15px 25px;
}

.elements__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    overflow: hidden;
}

.elements__like-button{
    width: 21px;
    height: 19px;
    align-self: center;
}


@media screen and (max-width:880px) {
  .elements{
    width: 282px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
    margin-top: 25px;
}


.elements__info{
    max-width: 248px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 15px 31px 21px;
}

}