.popup{
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, .7);
    z-index: 10;
    /* This is the trick for the bacground to blur */
    width: 100%;
    height: 100vh;

}

.popup_open{
    visibility: visible;
    opacity: 1;
}

.popup__close-button{
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    font-size: xx-large;
    color: #FFFFFF;
    position: absolute;
    top: -36px;
    right: -36px;
    z-index: 30;

}
.popup__close-button:hover{
    opacity: 0.5;
}

.popup__form{
    width: 430px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.popup__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: black;
    padding: 34px;
}

.popup__element {
    display: flex;
    flex-direction: column;
    position: relative;

    z-index: 20;
    justify-content: center;
    align-items: center;
}

.popup__content{
    width: 360px;
    margin: auto;
    padding: 0 0 30px 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.popup__input{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    width: 100%;
    height: 28px;
    border: none;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    align-self: center;
    justify-content: space-between;
    background-color: white;

}

.popup__input:invalid {
     border-bottom: 1px solid red;
    }

.popup__input:focus-visible {
    outline: none
    }

.popup__save-button{
    width: 358px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #c4c4c4 ;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #c4c4c4;
    background: black;
    cursor: pointer;
    
}
 .popup__save-button_disabled{
    
    color: #c4c4c4;
    background: #FFFFFF;
    
} 
/* popup__image-img */
.image-popup__image{
    height: 540px;

} 

/* popup__image-title */
.image-popup__title{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;

}
/* .popup__error*/
.error{
    color: #FF0000;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 30px;
    /* border-top: 1px solid #FF0000; */
}


@media screen and (max-width:880px) {
 .popup__form{
    width: 282px;
    padding: 20px;
}

.popup_open{
    visibility: visible;
    opacity: 1;
}

.popup__close-button{
    width: 26px;
    height: 26px;
    background: transparent;
    border: none;
    font-size:x-large;
    color: #FFFFFF;
    position: absolute;
    top: -21px;
    right: -21px;

    

}
.popup__close-button:hover{
    opacity: 0.5;
}

.popup__registration{
    width: 100%;
    height: 330px; 
    background-color: #FFFFFF;
    border-radius: 10%;
    box-sizing: border-box;
    position: relative;
}

.popup__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: black;
    padding: 34px;
}

.popup__content{
    width: 238px;
    height: 70%;
    margin: auto;
    padding: 0;
    border: none;
}

.popup__input{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    width: 100%;
    height: 28px;
    border: none;
    margin-bottom: 30px;
    border-bottom: 1px solid #c4c4c4;
    align-self: center;
    color: #c4c4c4;
}

.popup__save-button{
    width: 238px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #c4c4c4 ;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #c4c4c4;
    background: none;
    
}
.image-popup__image{
    height: 299px;
    max-width: 240px;

} 

}